* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.App {
  min-height: 100vh;
  position: relative;
  background-color: #313131;

  display: flex;
  justify-content: center;
  align-items: center;
}

.camera {
  position: relative;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}